:root {
  --aside-width: 200px;
  --aside-height: 60px;
  --bg-color-page: #f6f6f6;
  --sh-text-color: #fff;
  --sh-text-color-active: #fff;
  --table-width: calc(100vw - 200px - 32px);
  --el-menu-bg-color-active: #e9636c;
  --color-primary: #584949 !important;
  // element中定义的
  --el-color-primary: #e9636c !important;
  --el-button-hover-text-color: #e9636c !important;
  --el-text-color-primary: #584949 !important;
  --el-menu-text-color: #fff;
}

body {
  margin: 0px;
}

.pagination {
  justify-content: flex-end;
  padding: 10px;
  background: #fff;
  display: flex;
}

// title样式
.header_title {
  border-left: 3px solid var(--el-menu-bg-color-active);
  padding-left: 10px;
  margin-bottom: 16px;
}

.w-full {
  width: 100%;
}

.w-300 {
  width: 300px !important;
}

.w-240 {
  width: 240px !important;
}

.mr-16 {
  margin-right: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

button.large_btn {
  color: var(--el-color-primary) !important;
  margin-top: 30px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #909399;
}

// 滚动条的背景颜色
::-webkit-scrollbar-track {
  background: #fff;
  width: 5px;
}